.settingBoard{
    flex-direction: column;
    gap: 10px;
}
.settingLine{
    width:100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.3rem;
    padding: 0 5px;
}
.settingLine input{
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border:1px solid #fff;
    max-width: 120px;
}
.settingLine input:focus{
    outline: none;
    border: 1px solid gray;
}
.settingLine input.error{
    background-color: rgb(255, 174, 174);
    border:1px solid red;
}
.settingName{

}